<h1>After You've Met One</h1>
<p class="lead"><strong><h4> <small> use your best </small> 250 <small> characters </small> </h4>
<p>Describe your positive interaction with <%= link_to 'The Good Cop', new_pin_path %></p>
<li>add photo <small> optional <small></li>

