<div class="container-fluid">
    <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="3500">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"><img src="http://3.bp.blogspot.com/-wNvwez9vYwI/URfNdYm5vbI/AAAAAAAAASw/v8ssjh6StzY/s1600/yin_yang_and_trigrams_small2.jpg" class="img-responsive"></div>
                        <div class="col-md-9">
                            <h2>Coinkidink</h2>
                            <%= link_to "the synchronicity experiment", "coinkidink.herokuapp.com" %>
                        </div>
                    </div>
                </div>            
            </div> 
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"><img src="http://www.clker.com/cliparts/p/t/5/u/a/b/sherriff-hi.png" class="img-responsive"></div>
                        <div class="col-md-9">
                            <h2>The Good Cop</h2>
                            <p>Report Positive Interactions with Law Enforcement</p>
                        </div>
                    </div>
                </div>            
            </div> 
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"><img src="http://fc08.deviantart.net/fs71/i/2013/103/4/4/dreamcatcher_tattoo_design_by_rozthompsonart-d61k1b0.jpg" class="img-responsive"></div>
                        <div class="col-md-9">
                            <h2>Dreamweave</h2>
                            <p>Your Friends appear in your dreams; Tag them- Tell the Story <small> (coming soon) </small></p>
                        </div>
                    </div>
                </div>           
            </div> 
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"><img src="http://rlv.zcache.com/young_buddha_no_1_black_white_letterhead-rb8a7e40cca5043b9ba4d61ea0fb64ff9_vg63g_8byvr_512.jpg" class="img-responsive"></div>
                        <div class="col-md-9">
                            <h2>Karma Kounter<small> Game </small></h2>
                            <p>Race your friends building the largest Karma Kount. <small> (coming soon) </small> </p>
                        </div>
                    </div>
                </div>           
            </div> 
        <!-- End Item -->
        </div>
        <!-- End Carousel Inner -->
       
    <!-- End Carousel -->
</div>